body{
    background-color: black;
}
h1{
    color:#edeef0;
    text-align: center;
    font-family: Algerian;
}
#container{
    width: 260px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 0px 30px 70px;
    border: none;
    border-radius: 10px;
}
.icon{
    width: 40px;
    margin-left: 18px;
    margin-top: 10px;
}
.img{
    width: 48px;
    margin-left: 140px;
    margin-top: 10px;
}
.form{
    padding: 10px 0px 0px 20px;
}
.form input{
    width: 204px;
    height: 30px;
    font-size: 12px;
    padding-left: 10px;
    background-color: #edeef0;
    border: none;
    outline: none;
    border-radius: 3px;
}
.form textarea{
    margin-top: 10px;
    padding-left: 10px;
    background-color: #edeef0;
    border: none;
    outline: none;
    border-radius: 3px;
}
.form button{
    height: 27px;
    width: 215px;
    color: white;
    background-color: rgb(89, 186, 89);
    border-radius: 5px;
    font-size: 11px;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 5px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 15px 8px 10px 20px;
    /* user-select: none; */
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: -17px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
